@media (max-width:768px) {
    body{
    background-size:cover ;
    background-repeat: no-repeat;
    background-image: url("img/imgBackground.jpg");
    }
 
    .principal{
        display: flex;
        flex-direction: column;
    }
    .principal .image img{
        width: 200px;
        margin-left: 15%;
    }
    .principal{
        margin-left: 15%;
    }
   
}